[viewBag]
==
<div class="main-footer">
    <div class="row">
        <div class="col-md-4">
            <div class="shop-list">
                <h4 class="footer-title">Shop Categories</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i>Books</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>DVD</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="recent-posts">
                <h4 class="footer-title">Recent posts</h4>
                    <div class="recent-post">
                        <div class="recent-post-thumb">
                            <img src="{{ 'assets/images/recent-post1.jpg'|theme }}" alt="">
                        </div>
                        <div class="recent-post-info">
                            <h6><a href="#">Self-realisation, purpose & achivement</a></h6>
                            <span>24/12/2084</span>
                        </div>
                    </div>
                    <div class="recent-post">
                        <div class="recent-post-thumb">
                            <img src="{{ 'assets/images/recent-post2.jpg'|theme }}" alt="">
                        </div>
                        <div class="recent-post-info">
                            <h6><a href="#">Fear is the obstacle</a></h6>
                            <span>18/12/2084</span>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="more-info">
                <h4 class="footer-title">More info</h4>
                    <p>Sed dignissim, diam id molestie faucibus, purus nisl pretium quam, in pulvinar velit massa id elit.</p>
                    <ul>
                        <li><i class="fa fa-phone"></i>010-020-0340</li>
                        <li><i class="fa fa-globe"></i>123 Dagon Studio, Yakin Street, Digital Estate</li>
                        <li><i class="fa fa-envelope"></i><a href="#">info@company.com</a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>