[viewBag]
==
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Become a Certified Forest Therapy Guide</h2>
                    <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               Forest Therapy Guide Training and Certification is offered by the&nbsp;<strong>Association of Nature and Forest Therapy Guides and Programs </strong>(ANFT). Complete information about upcoming training opportunities is available at the&nbsp;<a href="http://www.nftg.org">ANFT website</a>.
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
            <div style="text-align:center">
            <a href="http://www.natureandforesttherapy.org/training.html" target="_blank" >
<img src="{{ 'assets/images/association.png'|theme }}" alt="Click this image to go to the training information and registration website." style="width:498;max-width:100%">
            </div>
               
</a>    
            </div>
            
        </div>
</div>