description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }} | October CMS</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}" />
        {% styles %}
        <link rel="stylesheet" href="{{ 'assets/css/grid.css'|theme }}" />
        <link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}" />
    </head>
    <body id="page">

        <!-- Content -->
        {% page %}
        
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <a href="#" target="_blank">® 2015 Your Name</a>
                <span class="right">
                    <a href="https://www.twitter.com/geraldschandl" target="_blank">
                    <strong>Photography by Gerald Schandl</strong></a>
                    <a href="http://www.simplewebdesign.at" target="_blank"><strong>Design by SIMPLEWEBDESIGN</strong></a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1>Temporary</h1>
                <h2>wait... we are planning big things.</h2>
            </header>
        </div>

        <!-- Scripts -->
        <script src="{{ [ 'assets/js/modernizr.custom.86080.js' ]|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>